<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="###IMG###" data-holder-rendered="true">
        <div class="card-body">
            <h2>###NAME###</h2>
            <p class="card-text">###DESCRIPTION###</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='###URL###';">View</button>
                </div>
            </div>
        </div>
    </div>
</div>